<main class="container-wrapper">
  <div class="container">
    <h1>Image lazy loading directive</h1>

    <span *ngIf="!images.length">Waiting for api response...</span>

    <ul class="images-list">
      <li class="image-item" *ngFor="let image of images; trackBy: trackById">
        <app-image-holder [imageInfo]="image"></app-image-holder>
      </li>
    </ul>
  </div>
</main>
