@import './reset.scss';

.container-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@keyframes lazy-load-spinner {
  to {transform: rotate(360deg);}
}

.lazy-load-spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: lazy-load-spinner .6s linear infinite;
}
