<div class="image-holder" *ngIf="readyToShow">
  <h2 class="image-holder__title">{{ imageInfo.title }}</h2>

  <ng-container *ngIf="showFade">
    With fade
    <img
      class="image-holder__image"
      [src]="imageInfo.url"
      [alt]="imageInfo.title"
      appLazyImage
      [showFade]="true"
      [showLoader]="false"
    />
  </ng-container>
  <ng-container *ngIf="!showFade">
    With loader
    <img
      class="image-holder__image"
      [src]="imageInfo.url"
      [alt]="imageInfo.title"
      appLazyImage
      [showFade]="false"
      [showLoader]="true"
    />
  </ng-container>
</div>
