.image-holder {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 1rem;
  margin: 3rem 0;
  min-width: 220px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  &__title {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  &__image {
    width: 100%;
  }
}
